<div class="container-fluid bg-dark">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none fw-light fs-3">
        <div class="'text-end">NOTES</div>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
        <li><a href="/" class="nav-link px-2 link-secondary text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark text-white ">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark text-white">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/auth/google" type="button" class="btn btn-outline-light me-2">Sign Up</a>
        <a href="/auth/google"type="button" class="btn btn-warning">Sign In</a>
      </div>
    </header>
  </div>