:root{
    --background-color:#36454F;
    --bs-primary-rgb:#EFF1F3;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color:var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image:url(../img/noise-bg.png);

}
h1,h2,h3,h4,h5,h6{
    font-family: 'unbounded', cyrsive;
    font-weight: 800;
}
.container-fluid-custom{
    max-width: 1600px;

      
}
.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}
.btn-outline-light{
    --bs-btn-color:#000;
    --bs-btn-bg:#ffc107;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color:#ffca2c;
    --bs-btn-hover-bg:: #ffca2c;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}
.btn-warning {
    --bs-btn-color:#000;
    --bs-btn-bg:#ffc107;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color:#ffca2c;
    --bs-btn-hover-bg:: #ffca2c;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}
.pagination{
    --bs-pagination-color:var(--bs-primary-rgb);
    --bs-pagination-active-bg:var(--bs-primary-rgb);
    --bs-pagination-active-border-color:var(--bs-primary-rgb);
}
@media (min-width: 1405px) {
    .home {
      background: 
        url('../img/Screenshot_2025-01-30_at_3.09.56_PM-removebg-preview.png') left  no-repeat,
        url('../img/image (1).png') right no-repeat,
        
        url('../img/noise-bg.png') left top repeat,
        var(--background-color);
      ;
    }
  }
  
  .home-title::before {
    content: url('../img/stars.svg');
    position: absolute;
    left: -50px;
    top: -30px;
  }
  
  .home-title::after {
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
  }